presentation/uNotes.log
presentation/uNotes.nav
presentation/uNotes.out
presentation/uNotes.snm
presentation/uNotes.synctex.gz
presentation/uNotes.tex.bak
presentation/uNotes.tex.sav
presentation/uNotes.toc
presentation/uNotes.aux